/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

/* portfolio items */
.card-columns { column-count: 2; }
@media (max-width: 767px) {.card-columns {column-count: 1;}}
/* Portfolio */
.Photo {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.Photo:nth-child(even) {
  margin-right: 40px;
}

.Photo img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.Photo h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-family: "Georgia";
  font-size: 22px;
}
